body {
    padding-left: 20px;
}

.selector {
    margin: 20px 0 20px 20px;
}

#input-level {
    position: fixed;
    left: 250px;
}

.dropdown {
    position: fixed;
    left: 250px;
}

.attribute-label {
    margin-top: 0;
    position: fixed;
    left: 375px;
}

.attribute-name {
    position: fixed;
    left: 475px;
    width: 800px;
}

td {
    border: 1px solid black;
    padding: 5px;
}