.selector {
    margin: 20px 0 20px 20px;
}

#input-level {
    position: fixed;
    left: 225px;
}

.dropdown {
    position: fixed;
    left: 225px;
}

#mark-name {
    position: fixed;
    left: 350px;
}

.attribute-name {
    position: fixed;
    left: 350px;
}

td {
    padding: 5px;
}